body {
    font-family: Arial, sans-serif;
    background-color: #222; /* Dark background color */
    color: #ddd; /* Text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Hide overflow to prevent scrolling */
    background: linear-gradient(45deg, #333, #111); /* Dark gradient background */
    animation: changeColor 5s infinite;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#questionContainer {
    width: 100vw; /* Expand to full viewport width */
    height: 100vh; /* Expand to full viewport height */
    padding: 20px;
    border-radius: 0; /* Remove border-radius */
    backdrop-filter: blur(5px); /* Apply blur effect to background */
    overflow-y: auto; /* Virtual Scrolling Turned to auto */
}

#questionTitle {
    text-align: center;
    margin-bottom: 10px;
}

#questionDescription {
    margin-bottom: 10px;
}

#questionLink {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: larger;
    color: #007bff; /* Link color */
    text-decoration: none;
}

/* Animation */
@keyframes changeColor {
    0% {
        background-color: #333;
    }
    50% {
        background-color: #111;
    }
    100% {
        background-color: #333;
    }
}
